@{
    ViewData["Title"] = "Home Page";
}
<div class="fundo">
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-4 mb-5">Bem-vindo ao Projeto Exercícios</h1>
            <p class="fs-3">Projeto totalmente desenvolvido em sala de aula, com o intuito de aprendermos a desenvolver o modelo MVC do C#.</p>
        </div>
    </div>
<div>