@{
    ViewData["Title"] = "Sobre Mim";
}

<section class="bg-dark text-white text-center pb-3">
    <div class="container d-flex align-items-center flex-column">
        <img class="mb-5" src="https://avatars.githubusercontent.com/u/99850729?v=4" alt="Avatar" width="150"
            style="border-radius:50%;" />
        <h1 class="text-uppercase mb-0">Emanuel Santos Souza de Jesus</h1>
        <p class="font-weight-light mb-0">Estudante - Programador</p>
    </div>
</section>

<section class="page-section text-dark mb-5 mt-5">
    <div class="container">
        <div class="d-flex justify-content-evenly">
            <div class="col-lg-4">
                <h2 class="page-section-heading d-inline-block ">SOBRE MIM</h2>
                <p class="lead">Olá, me chamo Emanuel, estou no contínuo processo de desenvolvimento pessoal para melhorar
                    minhas habilidades com programação e design. Sou Programador Full Stack e trabalho com várias
                    linguagens, como por exemplo: HTML, CSS, Javascript, MySQL, C#, Delphi, Iônico. Além disso tenho
                    conhecimento no Sistemas Operacional Linux, consigo me virar no prompt do Linux, também desenvolvo
                    com alguns frameworks com Bootstrap e Query, atualmente tenho 17 e estou cursando Desenvolvimento de
                    Sistemas e Esse é apenas o começo da minha carreira.</p>
            </div>
            <div class="col-lg-4">
                <h2 class="page-section-heading d-inline-block ">ABOUT ME</h2>
                <p class="lead">"Hello, my name is Emanuel, I am in the continuous process of personal development to improve
                    my programming and design skills. I am a Full Stack Programmer and work with several
                    languages, such as: HTML, CSS, Javascript, MySQL, C#, Delphi, Ionic. In addition, I have
                    knowledge in Linux Operating Systems, I can turn on the Linux prompt, I also develop
                    with some frameworks with Bootstrap and Query, I'm currently 17 and I'm studying Development of
                    Systems and That's just the beginning of my career.</p>
            </div>
        </div>
    </div>
</section>
